.container-informasi{
    background-color: aqua;
    text-align: center;
}

.container-informasi a {
    background-color: brown;
    text-decoration: none;
    color: #efefef;
    padding: 5px;
    border-radius: 5px;
}

